@tailwind base;
@tailwind components;
@tailwind utilities;

/* This styles the main scrollbar container */
::-webkit-scrollbar {
	width: 5px; /* width of the entire scrollbar */
	height: 8px; /* width of the entire scrollbar */
}

/* This styles the scrollbar track (the part the thumb slides within) */
::-webkit-scrollbar-track {
	background: #f1f1f1; /* color of the tracking area */
}

/* This styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
	background: #888; /* color of the thumb */
	border-radius: 6px; /* roundness of the thumb */
	transition: all 0.5s;
}

/* This changes the thumb color on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; /* color of the thumb on hover */
	transition: all 0.5s;
}
